@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #025a74;
  --secondary: #02480c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
/* Parallelogram clip-path for the first card */
.clip-parallelogram {
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

/* Notch shape for the second card (like a speech bubble or custom cut) */
.clip-notch {
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 90% 100%, 0% 100%);
  position: relative;
}
